<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Simple Weather Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css" />

	<script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@3.2.33"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</head>

<body>
    <section class="section">
        <div id="app" class="container">
            <h1 class="title">
                Weather
            </h1>
           <h1 class="title is-1">{{ temperature }}</h1>
	   <h2 class="subtitle" v-if="code == 0">Clear sky</h2>
	   <h2 class="subtitle" v-if="code == 1">Mainly clear</h2>
	   <h2 class="subtitle" v-if="code == 2">Partly cloudy</h2>
           <h2 class="subtitle" v-if="code == 3">Overcast</h2>
	   <h2 class="subtitle">{{ time }}</h2>
   	   
        </div>
    </section>
    <script>
        Vue.createApp({
            data() {
		return {
                	temperature: null,
			time: null,
			code: null
		}
            },
            mounted() {
                this.getTemperature();
		setInterval(this.getTemperature(), 1800 * 1000);
            },
            methods: {
                getTemperature: function () {
                    navigator.geolocation.getCurrentPosition((position) => {
                        axios.get('https://api.open-meteo.com/v1/forecast?latitude=' + position.coords.latitude + '&longitude=' + position.coords.longitude + '&current_weather=true')
                            .then((response) => {
                                // handle success
                                this.temperature = response.data.current_weather.temperature + '°C';
				this.time = response.data.current_weather.time;
				this.code = response.data.current_weather.weathercode;
                            });
                    });
                },
            }
        }).mount('#app');
    </script>
</body>

</html>
